* {
	box-sizing: border-box;
}
body {
	font-family: Lato, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #1A212F;
	background-color: #fffefd;
}
header {
	display: flex;
	justify-content: space-between;
	background: #FFFEFD;
}
nav ul {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	list-style: none;
	margin: 0;
	padding: 32px 95px 32px 0;
	display: flex;
}
nav li {
	margin-left: 30px;
}
nav li a {
	text-decoration: none;
	color:	#1A212F;
}
.tel, .mobile, nav li .social, .hidden-menu-ticker, .btn-menu {
	display: none;
}
.logo {
	padding: 12px 0 12px 101px;
}
.banner {
	background: url(../images/main.png) no-repeat left top;
	background-size: cover;
	padding-top: 153px;
	padding-left: 198px;
	padding-bottom: 153px;
}
.banner p {
	font-size: 14px;
	line-height: 17px;
}
.banner h1 {
	font-family: Rubik, Arial, sans-serif;
	font-weight: bold;
	font-size: 62px;
	line-height: 73px;
}
.banner h2 {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}
.button-reserve1 a {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #1a212f;
	text-decoration: none;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: 30px;
}
.button-reserve1 {
	background: #FFFEFD;
	box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
	border-radius: 25px;
	width: 206px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}
.button-reserve1 img, .button-reserve2 img {
	margin-top: 7px;
	margin-right: 7px;
	margin-bottom: 7px;
}
.why {
	background: url(../images/paw-bg.png) no-repeat right -50px top;
	padding-top: 140px;
}
.name_screen {
	font-family: Rubik, Arial, sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 43px;
	text-align: center;
}
.why .item h4 {
	font-family: Rubik, Arial, sans-serif;
	font-weight: 500;
	font-size: 22px;
	line-height: 140%;
	margin-top: 35px;
	margin-bottom: 20px;
}
.why .item p {
	font-size: 16px;
	line-height: 140%;
	margin-top: 0;
	margin-bottom: 0;
}
.why .item {
	background: #FFFFFF;
	box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
	border-radius: 8px;
	padding: 30px;
	flex-basis: 370px;
	margin: 10px 15px;
}
.why_items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.rooms {
	background: url(../images/fish.png) no-repeat left top;
}
.rooms figure img {
	border-radius: 10px;
}
.rooms figcaption h4 {
	font-family: Rubik, Arial, sans-serif;
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	margin-bottom: 30px;
}
.rooms figcaption li {
	font-size: 16px;
	line-height: 19px;
	background: url(../images/yellow_eclipse.png) no-repeat 0 3px;
	padding-left: 17px;
	margin-bottom: 20px;
}
.rooms figcaption ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.rooms figcaption {
	background: #FFFFFF;
	box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
	border-radius: 8px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 100px;
	width: 500px;
	position: absolute;
	right: 0;
	top: 10%;
	bottom: 10%;
	
}
.rooms figure {
	position: relative;
	max-width: 1030px;
	width: 100%;
	margin: 0 auto;
	height: 404px;
}
.button-reserve2 {
	background: #FF7236;
	box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
	border-radius: 25px;
	width: 206px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}
.button-reserve2 a {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #fffefd;
	text-decoration: none;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: 30px;
}
.owl-carousel .owl-item img {
    display: block;
    max-width: 600px;
	width: auto;
}
.owl-theme .owl-dots .owl-dot span {
	background: #e1e1e1;
	margin-top: -30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #fac663;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    background: #fff;
    color: #ff7236;
    border: none;
    padding: 0!important;
    font: inherit;
	box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);
	width: 36px;
	height: 36px;
	border-radius: 50%;
	font-size: 25px;
}
.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: right;
	max-width: 1030px;
	margin-right: auto;
	margin-left: auto;
}
.feedback p {
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	display: flex;
}
.feedback span {
	font-size: 14px;
	line-height: 17px;
	color: #848484;
}
.feedback {
	background: #FFFFFF;
	box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
	border-radius: 8px;
	width: 80%;
	padding: 35px 38px 35px 70px;
}
.details {
	display: flex;
	justify-content: space-between;
}
.feedback p::before {
	display: inline-block;
	content: '“';
	font-weight: 500;
	font-size: 72px;
	color: #FAC663;
	margin-left: -35px;
	line-height: 60px;
	margin-right: 8px;
}
.contacts h3 {
	font-family: Rubik, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 43px;
}
.contacts h5 {
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	margin-top: 35px;
	margin-bottom: 15px;
}
.contacts p {
	font-size: 16px;
	line-height: 19px;
	margin: 0;
}
.contacts {
	padding: 70px 0 70px 198px;
	background: #FAC663;
	width: 30%;
}
.social a {
	text-decoration: none;
	margin-right: 20px;
}
.map {
	width: 70%;
	height: auto;
}
.info {
	display: flex;
}
.footer_nav  {
	display: flex;
	justify-content: space-between;
	border-bottom: #efefef solid 1px;
}
.footer_nav nav {
	margin-right: 103px;
}
.footer_nav .logo {
	margin-left: 97px;
}
.copyright {
	display: flex;
	justify-content: space-between;
	padding: 20px 198px;
}
.copyright span {
	font-size: 12px;
	line-height: 14px;
	color: #8f8f8f;
}
/*Форма бронирования*/
.pop-up {
	position: absolute;
	top: 146px;
	margin-left: 50%;
	display: none;
	z-index: 15;
}
.pop-up_content {
	width: 570px;
	background: url(../images/paw-bg3.png) no-repeat left -20px top -20px #fffefd;
	box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
	border-radius: 10px;
	padding: 70px;
	position: relative;
	margin-left: -50%;
}
.pop-up input {
	border: 1px solid #d7d7d7;
	border-radius: 25px;
}
.pop-up .button-reserve2 {
	width: 230px;
	margin: 50px auto 70px auto;
}
.close-button {
	position: absolute;
	top: 40px;
	right: 40px;
	cursor: pointer;
}
.row {
	margin-bottom: 20px;
	position: relative;
}
.row input {
	padding: 15px 10px 15px 30px;
	width: 430px;
}
.date input {
	padding: 15px 5px 15px 20px;
	width: 129px;
}
.row label {
	display: inline-block;
	padding: 15px 5px 15px 30px;
	position: absolute;
	font-size: 16px;
}
.pop-up h3 {
	font-family: Rubik, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 28px;
	text-align: center;
}
.date {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
label[for="from"] {
	margin-left: 15px;
}
.white {
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, .5);
	position: fixed;
	z-index: 10;
	display: none;
}