* {
    box-sizing: border-box;
}
body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: black;
}
button {
    border: none;
    cursor: pointer;
}
.search-form button {
    border: 1px, solid;
    border-radius: 15px;
    cursor: pointer;
}
.search-form p {
    margin: 2px;
}
header {
    max-width: 1196px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 13px 0 20px;
}
a {
    text-decoration: none;
}
.logo {
    width: 130px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
    gap: 5px;
}
.logo span {
    align-self: center;
}
.search {
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    width: 100%;
    padding: 13px 55px 13px 20px;
    border: none;
}
.search-icon {
    background: transparent;
    position: absolute;
    top: 10px;
    right: 20px;
}
.search-form {
    position: relative;
    width: 620px;
}
.search-mobile {
    display: none;
}
.enter {
    background: #EBEBEB;
    border-radius: 50px;
    width: 100px;
    font-size: 14px;
    padding: 16px 30px;
}
.cart-icon {
    width: 50px;
    height: 54px;
    background: url(../images/cart.png) no-repeat;
    position: relative;
}
.user-nav {
    display: flex;
    gap: 31px;
}
.cart-index {
    font-size: 8px;
    background: #FFAF19;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
}
.slider {
    max-width: 1190px;
    margin: 0 auto;
}
.slider-item h1 {
    font-size: 50px;
    line-height: 51px;
    color: #FFFFFF;
    width: 390px;
}
.slider-item h2 {
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    width: 390px;
    margin-bottom: 32px;
}
.slider-bg1 {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%), url(../images/slider-bg1.png);
}
.slider-bg2 {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%), url(../images/slider-bg2.png);
}
.slider-bg3 {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%), url(../images/slider-bg3.png);
}
.slider-item {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 80px 100px;
}
.slider-btn {
    width: 246px;
    background: #F47322;
    border-radius: 25px;
    padding: 13px 53px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}
.bonus {
    max-width: 1196px;
    margin: 54px auto;
    display: flex;
    gap: 54px
}
.bonus-item {
    flex-basis: 50%;
    padding: 36px 32px 31px;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}
.bonus-bg1 {
    background-image: url(../images/bonus-bg1.png);
}
.bonus-bg2 {
    background-image: url(../images/bonus-bg2.png);
}
.bonus-item h3 {
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}
.bonus-item p {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 23px;
    width: 225px;
}
.bonus-item .price {
    margin-top: 52px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    color: #FFFFFF;
}
.bonus-btn {
    margin-top: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #5F5F61;
    background: #FFFFFF;
    border-radius: 50px;
    padding: 13px 52px;
}
.bonus-item .price span {
    font-size: 30px;
}
.owl-carousel .owl-nav button.owl-prev {
    background: url(../images/arrow_left.png) 50% 50% no-repeat rgba(235, 235, 235, 0.7);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.owl-carousel .owl-nav button.owl-next {
    background: url(../images/arrow_right.png) 50% 50% no-repeat rgba(235, 235, 235, 0.7);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 17px;
}
.owl-nav span {
    display: none;
}
.owl-nav {
    position: absolute;
    right: 46px;
    bottom: 39px;
}
.delivery {
    max-width: 1196px;
    margin: 110px auto 0;
}
.delivery h2 {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 47px;
}
.gallery  {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.delivery img {
    border-radius: 18px;
    max-width: 100%;
}
.delivery figure {
    border-radius: 18px;
    position: relative;
    margin: 0;
    flex-basis: calc((100% - 32px*3) / 4);
}
.gallery figcaption {
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    left: 16px;
    top: 10px;
    border-radius: 30px;
}
.zoj {
    background: #D0FD89;
    color: #49494F;
    padding: 5px 10px;
}
.vegetables {
    background: #AEBC41;
    color: #fff;
    padding: 5px 10px;
}
.meat {
    background: #B86B78;
    color: #fff;
    padding: 5px 10px;
}
.bird {
    background: #D68334;
    color: #fff;
    padding: 5px 10px;
}
.fish {
    background: #CD6255;
    color: #fff;
    padding: 5px 10px;
}
.for_kids {
    background: #FFFDBF;
    color: #49494F;
    padding: 5px 10px;
}
.for_parents {
    background: #F6FDC8;
    color: #49494F;
    padding: 5px 10px;
}  
.for_celebrations {
    background: #FEF7FE;
    color: #49494F;
    padding: 5px 10px;
} 
.catalog {
    width: 100%;
    background: #f6f6f6;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 172px;
    
}
.categories {
    max-width: 1196px;
    margin: 0 auto;
}
.categories h2 {
    font-weight: 500;
    font-size: 32px;
}
.categories ul {
    list-style: none;
    margin: 50px 0 62px;
    padding: 0;
    display: flex;
    gap: 58px;
}
.categories a {
    color: #49494F;
    font-size: 20px;
}
.ui-tabs-active .ui-tabs-anchor {
    color: #F37321;
}
.food-item {
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    flex-basis: calc((100% - 37px*3) / 4);
}
.food-item img {
    border-radius: 20px 20px 0 0;
    max-width: 100%;
}
.food-item h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin: 21px 23px 13px;
}
.food-item p {
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #B9B9BE;
    margin: 13px 27px 36px 23px;
}
.food-details .price {
    font-weight: 500;
    font-size: 23px;
    color: #4B4B51;
}
.food-details .weight {
    font-weight: 500;
    font-size: 17px;
    color: #AAAAB1;
}
.food-cart {
    border: 2px solid #f37321;
    border-radius: 33px;
    font-weight: 500;
    font-size: 16px;
    color: #f37321;
    padding: 16px 25px 15px;
    background: #fff;
}
.food-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 23px;
}
.food-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    padding-right: 24px;
}
.food-examples {
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
}
.benefits {
    max-width: 1196px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 202px;
}
.benefits-item svg {
    fill: #f37321;
    stroke: #f37321;
}
.benefits-item:hover svg {
    fill: #fff;
    stroke: #fff;
    stroke-width: 1;
}
.benefits-item {
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    padding: 30px 23px 25px 24px;
    text-align: center;
    flex-basis: calc((100% - 37px*3) / 4);
}
.benefits-item:hover {
    background: #F37321;
    border: 1px solid #F37321;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    color: #fff;
}
.benefits-item h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}
.benefits-item p {
    font-size: 14px;
    line-height: 22px;
    color: #49494F;
}
.benefits-item:hover p {
    color: #fff;
}
.benefits-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 37px;
}
footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #f6f6f6;
}
.footer-content {
    max-width: 1191px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-info {
    display: flex;
    gap: 50px;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
    align-self: center;
}
footer a {
    color: #000;
    text-decoration: underline;
}
.social {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-info img {
    width: 101px;
    height: 101px;
}